* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;/*不可调整字体大小*/
  -webkit-user-select: none;/*用户不可选中字体*/
  -ms-user-select: none;
  -moz-user-select: none;
       user-select: none;
  font-family: Arial, 'Microsoft YaHei';
}
input,
textarea {
  -webkit-user-select: text;
  -ms-user-select: text;
  -moz-user-select: text;
       user-select: text;
  -webkit-appearance: none;/*去除系统默认的ios样式*/
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}/*被选中时外框没有，：focus为伪类*/
input[type="text"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="email"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  border: 1px solid;
  border-radius: 0;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}/*去掉部分手机端在输入数字时出现的上下小箭头*/
[class^="icon-"],
[class*=" icon-"] {
  font-family: "iconfont" !important;
 
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  -webkit-touch-callout: none;/*ios系统默认菜单被禁用*/
}
em,
i {
  font-style: normal;
}
li {
  list-style: none;
}
html,
body {
  height: 100%;
}
html {
  background-color: #fff;
}
.clearfix:after{display:block;content:".";height:0;visibility:hidden;clear:both;font-size:0;line-height:0;}
.clearfix{*zoom:1;}